
/* Wrap */
#badges-levels .badges {
    box-sizing: initial;
}

.badges--level {
    position: relative;
    display: flex;
    border-radius: var(--border-radius);
    z-index: 9;
}

.badges__download {
    display: none;
}

.badges__background,
.badges__test, 
.badges__button {
    color: initial;
}

/* Animate spawn */
@keyframes spawn {
    0% {
        right: -90px;
        opacity: 0;
    }
    30% {
        right: 0px;
        opacity: 1;
    }
    93% {
        right: 0px;
        opacity: 1;
    }
    99% {
        right: -80px;
        opacity: 0.1;
    }
    100% {
        right: -90px;
        opacity: 0;
    }
}


/* Sprites */
.sprite {
    position: relative;
    opacity: 0;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    animation-name: spawn;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-play-state: paused;
    --sprite-background: url(images/ph-awards-badges.png)
}

.sprite1 {
    width: 88px;
    height: 88px;
    background: var(--sprite-background) -396px -88px;
}

.sprite2 {
    width: 88px;
    height: 88px;
    background: var(--sprite-background) -483px -88px;
    animation-duration: 4.2s;
}

.sprite3 {
    width: 88px;
    height: 88px;
    background: var(--sprite-background) -571px -88px;
    animation-duration: 4.5s;
}

.sprite4 {
    width: 88px;
    height: 88px;
    background: var(--sprite-background) -660px -88px;
    animation-duration: 4.7s;
}

.sprite5 {
    width: 88px;
    height: 88px;
    background: var(--sprite-background) -747px -88px;
    animation-duration: 5s;
}