/* abilities wrap styles */
.widget__abilities {
    display: flex;
    justify-content: center;
    color: #009C65;
}

/* abilities list styles */
.widget__abilities-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    border-radius: 15px;
    margin: 20px auto auto;
    padding: 10px 10px;
    align-items: center;
    background-color: #1C7858;
}

/* abilities item styles */
.widget__abilities-item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 38px;
    height: auto;
    padding: 3px;
    list-style-type: none;
    border: 1px solid #344B43;
    border-radius: 10px;
}

.widget__abilities-item:hover,
.widget__abilities-item:active {
    color: var(--secondary-color);
    background-color: var(--box-shadow-color);
    cursor: pointer;
}

.widget__abilities-item.used {
    color: var(--color-secondary-2-0);
    background-color: var(--secondary-color);
}

.widget__abilities-item__img {
    width: auto;
}